.article
	display: inline-table
	position: absolute
	width: 100%
	height: 100%
	padding: 25px
	padding-bottom: 40px
	background-color: rgba(0,0,0,0.4)
	box-shadow: 0 0 17px 7px #000
	&.active
		z-index: 30
		opacity: 1
		height: 100%
		+transform_active
	&.active_no
		z-index: 29
		opacity: 0
		+transform_active_no
	&_list
		position: absolute
		width: 100%
		padding: 25px
		z-index: 99
		height: 100%
		background-color: rgba(0,0,0,0.4)
		box-shadow: 0 0 17px 7px #000
		&.active
			z-index: 30
			opacity: 1
			height: 100%
			+transform_active
		&.active_no
			left: 0
			top: 0
			z-index: 29
			opacity: 0
			+transform_active_no
	&_row
		width: 100%
		display: flex
		flex-direction: row
		justify-content: flex-start
		align-items: center
	&_col
		display: inline-block
		width: 50%
		text-align: left
		padding: 15px
		a
			color: white
			z-index: 99
	&_menu
		display: flex
		justify-content: space-between
		position: absolute
		left: 0
		bottom: 0
		padding: 20px
		width: 100%
		a
			color: $text-color
			z-index: 0
	@for $i from 1 through $countarticle
		&_img_#{$i}{position: relative
		display: block
		width: 313px
		height: 239px
		margin-right: 20px
		float: left}
	img
		width: 100%
		height: 100%
	@for $i from 1 through $countarticle
		&_text_#{$i}{position: relative}
