html, body,
	height: 100%
	background-image: $bcg-image
	text-rendering: geometricPrecision
	cursor: pointer
*
		box-sizing: border-box
		margin: 0
		padding: 0
		outline: none
		font-family: "Roboto Slab"
		user-select: none
.main
	display: block
	position: absolute
	width: 100%
	height: 100%
	overflow: hidden
	overflow-y: auto
	.loading_page
		position: absolute
		width: 100%
		height: 100%
		display: flex
		justify-content: center
		align-items: center
		img
			width: 90px
			height: 90px
		span
			font-size: 17pt
			color: #279be2
			text-align: center
			position: absolute
			margin-top: 60px
.container
	&_general
		z-index: 1
		display: block
		position: relative
		margin: 20px auto
		width: 100%
		margin-top: 20px
		text-align: justify
		color: white
		min-height: 250px
		@for $i from 1 through 6
			&_#{$i}{opacity: 0
			position: absolute
			width: 971px
			height: 100%
			@if $i!=4 {background-color: $bcg-color
			box-shadow: 0 0 17px 7px #000}}
		@for $i from 1 through 3
			&_img_#{$i}{position: relative
			display: block
			width: 313px
			height: 239px
			margin-right: 20px
			float: left}
		img
			width: 100%
			height: 100%
		@for $i from 1 through 6
			&_text_#{$i}{position: relative}
			&_#{$i}{@if $i!=4 {display: inline-table
			padding: 25px}}
		&_6
			top: 0px
		&_5
			position: relative
			display: flex
			justify-content: flex-start
			height: 300px
			.box_shadow_1, .box_shadow_3
				box-shadow: 0px 0px 15px 12px #000
			@for $i from 1 through 3
				.contact_#{$i}{display: flex
				flex-direction: column
				justify-content: space-between
				align-items: flex-start
				text-align: center
				width: 30%
				position: relative
				background-color: rgba(0,0,0,0.6)
				margin-top: 20px
				@if $i==1 {z-index: 18}
				@if $i==3 {z-index: 19}
				@if $i==2 {z-index: 17
				width: 40%
				background-color: rgba(0,0,0,0)
				border: none}
				.box_shadow_#{$i}
					position: absolute
					width: 100%
					min-height: 100%}
			.contact_2_logo
				display: block
				position: absolute
				width: 100%
				padding-top: 26px
				margin-left: -10px
				color: rgba(0,0,0,0.4)
				font-family: LogoFonts12
				font-size: 0pt
				font-weight: bold
				opacity: 1
			.social
				flex-direction: column
				width: 100%
				&_group
					width: 100%
					&_items
						padding-left: 35px
					&_logo
						font-family: LogoFonts12
						font-size: 22pt
						font-weight: bold
						max-height: 20px
						top: -10px
				&_items, &_group_items
					display: flex
					justify-content: flex-start
					align-items: center
					position: relative
					z-index: 25
					img
						width: 30px
						height: 30px
						margin: 10px
					a
						display: inline-flex
						flex-direction: row
						justify-content: center
						align-items: center
						color: white
						font-size: smaller
						text-decoration: none
		h3
			text-align: center
		p
			display: block
			position: relative
			margin: 5px auto
			z-index: 25
.container
	&_general
		@for $i from 1 through 6
			&_#{$i}
				&.active
					z-index: 30
					opacity: 1
					@if ($i != 5) {opacity: 1
					+transform_active}
					@if ($i == 5){transition: all 2s ease
					padding-top: 0px
					.box_shadow_1
						transition: box-shadow 1.5s ease 1.8s
						box-shadow: 0px 0px 15px 12px rgba(58,158,255,0.9)
					.box_shadow_3
						transition: box-shadow 1.5s ease 1.8s
						box-shadow: 0px 0px 15px 12px rgba(255,86,81,0.9)
					.contact_2_logo
						transition: all 2s ease	2s
						font-size: 70pt}
				&.active_no
					z-index: 29
					opacity: 0
					@if ($i != 5){opacity: 0
					+transform_active_no}
					@if ($i == 5) {transition: all 2s ease 2s
					.box_shadow_1
						transition: box-shadow 1.5s ease 0.2s
						box-shadow: 0px 0px 15px 12px #000
					.box_shadow_3
						transition: box-shadow 1.5s ease 0.2s
						box-shadow: 0px 0px 15px 12px #000
					.contact_2_logo
						transition: all 2s ease	2s
						font-size: 0pt
					margin-top: 20px
					padding-top: 20px
					.delimiter
						transition: top 2s ease	
						top: -275px}
@keyframes movetoContactLeft
	+movetoCnctLeft
@keyframes movefromContactLeft
	+movefromCnctLeft
@keyframes movetoContactRight
	+movetoCnctRight
@keyframes movefromContactRight
	+movefromCnctRight
@keyframes movetoContactLeftMobile
	+movetoCnctLeftMobile
@keyframes movefromContactLeftMobile
	+movefromCnctLeftMobile
@keyframes movetoContactRightMobile
	+movetoCnctRightMobile
@keyframes movefromContactRightMobile
	+movefromCnctRightMobile
@keyframes movetoContactLeftMobileSE
	+movetoCnctLeftMobileSE
@keyframes movefromContactLeftMobileSE
	+movefromCnctLeftMobileSE
@keyframes movetoContactRightMobileSE
	+movetoCnctRightMobileSE
@keyframes movefromContactRightMobileSE
	+movefromCnctRightMobileSE

@keyframes bounceInLeft
	+bncInLeft
@keyframes bounceInRight
	+bncInRight
@keyframes rubberBand
	+rbbrBand
@keyframes bounceInUp
	+bncInUp
