.main_container
		img
			flex-shrink: 0
		max-width: 971px
		margin: 0 auto
		background-color: rgba(0,0,0,0)
		z-index: 10
		opacity: 0
		&.active
			opacity: 1
			transition: opacity 1s ease
		.container_height
			position: absolute
			height: 250px	
		.container_logo
				display: flex
				flex-shrink: 0
				width: 971px
				height: 250px
				background-color: $bcg-color
				box-shadow: 0 0 17px 7px #000
				margin: 80px auto 0px auto
				padding: 25px
				text-align: center
				@for $i from 1 through 2
					.delimiter_#{$i}
						position: relative
						width: 30px
						height: 100%
						z-index: 32
						@if ($i==1){left: 16px}
						@if ($i==2){right: 14px}
		@for $i from 1 through 2
				.container_#{$i}_blur{opacity: 0
				transition: opacity 1.5s
				background-color: #000
				width: 100%
				height: 100%}
				.container_#{$i}{z-index: 2+$i
				width: 20%
				position: relative
				img
					width: 100%
					height: 100%
				@if $i==1 {background: url(../img/Olga#{$i}.jpg) center center/cover no-repeat}
				@if $i==2 {background: url(../img/Olga#{$i}.jpg) center center/cover no-repeat	}
				box-shadow: 0 0 17px 7px #000}
				.container_#{$i}_descr{top: 0
				+cont_descr_parametrs}
				.container_#{$i}_info{@if $i==1 {margin-top: 3%}
				@if $i==2 {margin-top: 16%}
				+cont_info_parametrs}
				.container_#{$i}:hover 
						.container_#{$i}_descr {opacity: 1}
						.container_#{$i}_blur {opacity: 0.4
						transition: opacity 1.5s}
		.container_3
			display: flex
			flex-direction: row
			justify-content: center
			align-items: center
			position: relative
			height: 100%
			width: 60%
			z-index: 5
			box-shadow: 0 0 17px 7px #000
			img
				width: 100%
				height: 100%
			&_descr
				position: absolute
				width: 100%
				height: 95%
				font-family: "Jura"
				font-size: 17pt
				font-weight: bold
			&_logo
				display: block
				position: absolute
				align-items: center
				padding-top: 24px
				span
					position: absolute
					font-family: LogoFonts12
					font-size: 28pt
					font-weight: bold
					opacity: 0
					transition: all easy 2.5s
				li
					+logo_text
				&.hidden
					opacity: 1
					li
						opacity: 1
						&:nth-child(2)
							animation: op 2.5s ease
							transform: translateX(110px) translateY(-150px)
						&:nth-child(3)
							transform: translateX(320px) translateY(100px)
						&:nth-child(4)
							transform: translateX(-250px) translateY(-80px)
						&:nth-child(5)
							transform: translateX(-180px) translateY(-180px)
						&:nth-child(6)
							transform: translateX(-200px) translateY(150px)
						&:nth-child(7)
							transform: translateX(100px) translateY(50px)
@keyframes op
	transition: all 2.5s ease
	0%
	100%
		opacity: 0

.main_container
	&.general_five
		.container_height
			height: 300px
		.container
			&_logo
				transition: height 1s			
				height: 300px
			@for $i from 1 through 3
				&_#{$i}{transition: all 1s			
				width: 30%
				max-height: 250px
				@if $i == 3 {width: 40%}
				&_descr
					@if $i <= 2 {padding-top: 140px
					font-size: 13pt}
					@if $i == 1 {font-size: 12pt}
				&_info					
					@if $i == 2 {margin-top: 3%}}
			&_3
				.delimiter_1
					animation: movetoContactLeft 3s ease
					transform: translateX(0px) translateY(0px)			
				.delimiter_2
					animation: movetoContactRight 3s ease
					transform: translateX(0px) translateY(0px)
				&_descr
					transition: font-size 1s
					font-size: 13pt
				&_logo
					li
						font-size: 40pt
.main_container
	&.general_five_no
		.container_height
			height: 250px
		.container
			&_logo
				transition: height 1s 2s
				height: 250px
			@for $i from 1 through 3
				&_#{$i}{transition: all 1s 2s			
				width: 20%
				max-height: 200px
				@if $i == 3 {width: 60%}}
			&_3
				.delimiter_1
					animation: movefromContactLeft 3s ease
					transform: translateX(0px) translateY(0px)
				.delimiter_2
					animation: movefromContactRight 3s ease
					transform: translateX(0px) translateY(0px)
				&_descr
					transition: font-size 1s 2s
					font-size: 17pt
				&_logo
					li
						font-size: 48pt

