=cont_descr_parametrs
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	color: #fff
	padding-top: 90px
	opacity: 0
	transition: all 1.5s
	z-index: 1
	margin-top: 16%
=cont_info_parametrs
	display: inline-block
	text-decoration: none
	padding: 7px 14px
	background: #000
	color: #fff
	font-size: 8pt
	box-shadow: 0 0 1px #000
	opacity: .7
=logo_text
	display: inline-block
	list-style-type: none
	font-family: LogoFonts12
	font-size: 48pt
	font-weight: bold
	letter-spacing: -4px
	opacity: 1
	transition: all 2.5s ease
=transform_active
	will-change: transform
	transition: opacity 2s ease, transform 0s ease
	transform: scaleY(1)
	transform-origin: 50% 0
=transform_active_no
	will-change: transform
	transition: opacity 2s ease, transform 1s ease 2s
	transform: scaleY(0)
	transform-origin: 50% 0	
	


